<!-- Delete these later -->
<!-- <footer>
    <p><%= new Date().getFullYear() %> Node Advanced Blog</p>
</footer> -->

<footer>
    <div class="footer">
        <p><small>&copy; Japan Tour <%= new Date().getFullYear() %></small></p>
    </div>
    <div class="design-system">
        <a href="#"><u><small>see design system</small></u></a>
    </div>
    <div class="secret-login">
        <% if(session === undefined){%>
        <a href="/user/login">login</a>
        <%}%>
    </div>
</footer>
