@charset "utf-8";


/* ASIDE */
aside {
    grid-area: asd;
    margin-right: 30px;
}


.introduction {
    border: #f0e68c solid;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
}


.introduction img {
    max-width: 200px;
    margin: 10px;
}


.introduction h3 {
    font-size: 40px;
}


.profile {
    display: flex;
}


.sns-logo {
    display: flex;
    justify-content: center;
}


.sns-logo img {
    width: 100px;
    border-radius: 10px;
}


.sub-title {
    font-size: 1.4rem;
    padding: 0 8px 8px;
    border-bottom: 2px #e67a7a solid;
}


.sub-menu li {
    border-bottom: 1px #432 solid;
    margin: 20px;
}


.sub-menu a {
    display: block;
}


.sub-menu :hover {
    color: rgb(74, 189, 189);
}


aside li {
    font-size: 20px;
    list-style: none;
}
