@charset "utf-8";


/* BODY */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.7;
    color: #3b3a3a;
}


a {
    text-decoration: none;
}


#blog-post {
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px 20px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "hd hd hd hd hd hd hd hd hd hd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "ft ft ft ft ft ft ft ft ft ft"
    ;
}


/* HEADER */
header {
    grid-area: hd;
    justify-content: space-between;
}


.logo {
    margin-top: 10px;
    width: 150px;
}


.page-header {
    background-image: url(../images/header-pic2.jpg);
    background-size: cover;
    background-position: center;
}


.page-logo {
    max-width: 1100px;
    margin: 0 auto;
}


.title {
    text-align: center;
    font-size: 60px;
    color: yellow;
}


/* ARTICLE */
article {
    grid-area: atcl;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 60px;
    border: #8edae5 solid;
    box-shadow: 14px 14px #6fbdc9;
}


.main-blog {
    text-align: left;
    padding: 50px;
}


.main-blog i :hover {
    color: rgb(141, 235, 235);
}


.main-blog a:hover {
    color: rgb(141, 235, 235);  
}


.main-blog h1 {
    text-align: center;
    font-size: 60px;
    padding: 40px 0;
}


.main-blog h2 {
    font-size: 30px;
}


.main-blog h3 {
    background-color: #92d7e1;
    padding: 5px;
    margin: 20px auto;
}


.main-blog h4 {
    background-color: rgb(231, 233, 127);
    padding: 5px;
    margin: 20px auto;
}


.main-blog ul {
    border: 3px solid purple;
    width: 600px;
    padding: 30px;
    margin: 20px auto;
}


.main-blog li {
    padding: 5px 0;
}


.main-blog p {
    font-size: 20px;
}


.blog1-image {
    width: 500px;
}


.blog-date {
    font-size: 26px;
    color: rgb(177, 174, 174);
}


.blog-date a :hover {
    color: rgb(141, 235, 235);
}


blockquote {
    margin-top: 40px;
    padding: 10px 15px 10px 60px;
    box-sizing: border-box;
    font-style: italic;
    background-color: aliceblue;
    color: #432;
    border-left: 4px solid blue;
}


.older-newer {
    display: flex;
    margin-top: 40px;
}


.older {
    border: rgb(105, 105, 245) solid;
    border-radius: 30px;
    margin: 10px;
    padding: 10px 40px;
    text-decoration: none
}


.older a {
    color: rgb(105, 105, 245);
}


.older a:hover {
    color: rgb(105, 105, 245);
}


.older:hover {
    background-color: rgb(141, 235, 235);
}


.newer {
    color: gray;
    border: gray solid;
    border-radius: 30px;
    margin: 10px;
    padding: 10px 40px;
}


/* ASIDE */
aside {
    grid-area: asd;
    margin-right: 30px;
}


.introduction {
    border: yellow solid;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
}


.introduction img {
    max-width: 200px;
    margin: 10px;
}


.introduction h3 {
    font-size: 40px;
}


.profile {
    display: flex;
}


.sns-logo {
    display: flex;
    justify-content: center;
}


.sns-logo img {
    width: 100px;
    border-radius: 10px;
}


.sub-title {
    font-size: 1.4rem;
    padding: 0 8px 8px;
    border-bottom: 2px #e67a7a solid;
}


.sub-title,
.sub-menu {
    padding: 0 20px;
    margin: 20px;
}


.sub-menu li {
    border-bottom: 1px #432 solid;
    margin: 20px 0;
}


.sub-menu a {
    display: block;
}


.sub-menu :hover {
    color: rgb(141, 235, 235);
}


aside li {
    font-size: 20px;
    list-style: none;
}


/* FOOTER */
footer {
    grid-area: ft;
    background-color: #e67a7a;
    height: 180px;
    padding: 20px;
    text-align: center;
}


footer p {
    color: white;
}


.design-system :hover {
    color: rgb(141, 235, 235);
}


/* FOR SMART PHONE */
@media (max-width: 599px) {
    /* BODY */
    #blog-post {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(11, 1fr);
        gap: 10px 0;
        grid-template-areas:
        "hd hd hd hd hd"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "asd asd asd asd asd"
        "asd asd asd asd asd"
        "ft ft ft ft ft"
        ;
    }


    /* HEADER */
    .logo {
        margin-left: 10px;
        width: 100px;
    }


    .title {
        font-size: 30px
    }


    /* ARTICLE */
    article {
        margin-left: 20px;
        margin-right: 20px;
    }


    .main-blog {
        padding: 20px;
    }


    .main-blog h1 {
        font-size: 40px;
        padding: 20px 0;
    }


    .main-blog ul {
        width: 90%;
    }


    .blog1-image {
        max-width: 90%;
        margin: 5px 0;
    }


    .older,
    .newer {
        margin-bottom: 0;
        padding: 5px 5px;
    }


    /* ASIDE */
    aside {
        margin-right: 3px;
        margin-left: 3px;
    }


    .profile {
        display: flex;
        flex-flow: column;
    }


    .profile img {
        margin: 0 auto;
    }


    .introduction {
        text-align: center;
        margin-bottom: 5px;
    }


    .sns-logo img {
        width: 80px;
    }


    /* FOOTER */
    footer {
        height: 360px;
    }
}


/* FOR TABLET */
@media (min-width: 600px) and (max-width: 1199px) {
    /* BODY */
    #blog-post {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 10px 20px;
        grid-template-areas:
        "hd hd hd hd hd"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "asd asd asd asd asd"
        "asd asd asd asd asd"
        "ft ft ft ft ft"
        ;
    }


    /* HEADER */
    .logo {
        margin-left: 10px;
    }


    /* ARTICLE */
    article {
        margin-right: 30px;
    }


    .main-blog ul {
        max-width: 400px;
    }


    /* ASIDE */
    aside {
        margin-left: 30px;
        width: 600px;
        margin: auto;
    }


    .introduction {
        margin-right: 80px;
        margin-left: 80px;
        padding: 20px 40px;
    }


    .sub-title {
        margin-left: 20px;
    }


    .sub-menu {
        margin-left: 20px;
    }


    /* FOOTER */
    footer {
        height: 380px;
    }
}


/* FOR LAPTOP PC */
@media (min-width: 1200px) and (max-width: 1600px) {
    /* BODY */
    #blog-post {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 10px 20px;
        grid-template-areas:
        "hd hd hd hd hd"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "asd asd asd asd asd"
        "asd asd asd asd asd"
        "ft ft ft ft ft"
        ;
    }


    /* HEADER */
    .logo {
        margin-left: 10px;
    }


    /* ARTICLE */
    article {
        margin-right: 60px;
    }


    /* ASIDE */
    aside {
        margin-left: 30px;
        width: 600px;
        margin: auto;
    }


    .introduction {
        margin-right: 80px;
        margin-left: 80px;
        padding: 20px 40px;
    }


    .sub-title {
        margin-left: 20px;
    }


    .sub-menu {
        margin-left: 20px;
    }


    /* FOOTER */
    footer {
        height: 380px;
    }
}
