@charset "utf-8";


/* HEADER */
header {
    grid-area: hd;
    justify-content: space-between;
}


.logo {
    margin-top: 10px;
    width: 150px;
}


.page-header {
    background-image: url(../images/header-pic2.jpg);
    background-size: cover;
    background-position: center;
}


.page-logo {
    max-width: 1100px;
    margin: 0 auto;
}


.title {
    margin: 5px;
    text-align: center;
    font-size: 60px;
    color: yellow;
}
