@charset "utf-8";


/* BODY */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.7;
    color: #3b3a3a;
}


a {
    text-decoration: none;
}


#home {
    display: grid;
    grid-template-columns: repeat(10, 2fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px 20px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "hd hd hd hd hd hd hd hd hd hd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "atcl atcl atcl atcl atcl atcl atcl asd asd asd"
    "ft ft ft ft ft ft ft ft ft ft"
    ;
}


/* HEADER */
header {
    grid-area: hd;
    justify-content: space-between;
}


.logo {
    margin-top: 10px;
    width: 150px;
}


.page-header {
    background-image: url(../images/header-pic2.jpg);
    background-size: cover;
    background-position: center;
}


.page-logo {
    max-width: 1100px;
    margin: 0 auto;
}


.title {
    margin: 5px;
    text-align: center;
    font-size: 60px;
    color: yellow;
}


/* ARTICLE */
article {
    grid-area: atcl;
    margin-left: 30px;
}


article .post-title {
    text-align: center;
    font-size: 60px;
}


.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box {
    position: relative;
    background-color: #fffce6;
    border: #8edae5 solid;
    margin: 20px;
    padding: 20px 20px;
    width: 500px;
    height: 450px;
    text-align: center;
    box-shadow: 7px 7px #6fbdc9;
}


.box img {
    width: 300px;
    height: 200px;
    margin-top: 20px;
}


.date {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 15px;
    color: rgb(177, 174, 174);
}


.read-more {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 3px 10px;
}


.read-more :hover{
    color: rgb(74, 189, 189);
}


/* ASIDE */
aside {
    grid-area: asd;
    margin-right: 30px;
}


.introduction {
    border: #f0e68c solid;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
}


.introduction img {
    max-width: 200px;
    margin: 10px;
}


.introduction h3 {
    font-size: 40px;
}


.profile {
    display: flex;
}


.sns-logo {
    display: flex;
    justify-content: center;
}


.sns-logo img {
    width: 100px;
    border-radius: 10px;
}


.sub-title {
    font-size: 1.4rem;
    padding: 0 8px 8px;
    border-bottom: 2px #e67a7a solid;
}


.sub-menu li {
    border-bottom: 1px #432 solid;
    margin: 20px;
}


.sub-menu a {
    display: block;
}


.sub-menu :hover {
    color: rgb(74, 189, 189);
}


aside li {
    font-size: 20px;
    list-style: none;
}


/* FOOTER */
footer {
    grid-area: ft;
    background-color: #e67a7a;
    height: 180px;
    padding: 20px;
    text-align: center;
}


footer p {
    color: white;
}


.design-system :hover {
    color: rgb(141, 235, 235);
}


/* FOR SMART PHONE */
@media (max-width: 599px) {
    /* BODY */
    #home {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 10px 0;
        grid-template-areas:
        "hd hd hd hd hd"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "asd asd asd asd asd"
        "asd asd asd asd asd"
        "ft ft ft ft ft"
        ;
    }


    /* HEADER */
    .logo {
        margin-left: 10px;
        width: 100px;
    }


    .title {
        font-size: 30px
    }


    /* ARTICLE */
    article {
        margin-left: 3px;
        margin-right: 3px;
    }


    .box {
        margin: 10px;
        padding: 5px 5px;
    }


    .box img {
        margin-top: 10px;
    }


    /* ASIDE */
    aside {
        margin-right: 3px;
        margin-left: 3px;
    }


    .profile {
        display: flex;
        flex-flow: column;
    }


    .profile img {
        margin: 0 auto;
    }


    .introduction {
        text-align: center;
        margin-bottom: 5px;
    }


    .sns-logo img {
        width: 80px;
    }


    /* FOOTER */
    footer {
        height: 360px;
    }
}


/* FOR TABLET */
@media (min-width: 600px) and (max-width: 1199px) {
    /* BODY */
    #home {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(9, 1fr);
        gap: 10px 20px;
        grid-template-areas:
        "hd hd hd hd hd"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "asd asd asd asd asd"
        "asd asd asd asd asd"
        "ft ft ft ft ft"
        ;
    }


    /* HEADER */
    .logo {
        margin-left: 10px;
    }


    /* ARTICLE */
    article {
        margin-right: 30px;
    }


    /* ASIDE */
    aside {
        margin-left: 30px;
        width: 600px;
        margin: auto;
    }


    .introduction {
        margin-right: 80px;
        margin-left: 80px;
        padding: 20px 40px;
    }


    .sub-title {
        margin-left: 20px;
    }


    .sub-menu {
        margin-left: 20px;
    }


    /* FOOTER */
    footer {
        height: 380px;
    }
}


/* FOR LAPTOP PC */
@media (min-width: 1200px) and (max-width: 1600px) {
    /* BODY */
    #home {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 10px 20px;
        grid-template-areas:
        "hd hd hd hd hd"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "atcl atcl atcl atcl atcl"
        "asd asd asd asd asd"
        "asd asd asd asd asd"
        "ft ft ft ft ft"
        ;
    }


    /* HEADER */
    .logo {
        margin-left: 10px;
    }


    /* ARTICLE */
    article {
        margin-right: 30px;
    }


    /* ASIDE */
    aside {
        margin-left: 30px;
        width: 600px;
        margin: auto;
    }


    .introduction {
        margin-right: 80px;
        margin-left: 80px;
        padding: 20px 40px;
    }


    .sub-title {
        margin-left: 20px;
    }


    .sub-menu {
        margin-left: 20px;
    }


    /* FOOTER */
    footer {
        height: 380px;
    }
}
