main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: rgb(72, 215, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 40px;
  box-shadow: 
    5px 5px 0 white,
    20px 20px 0 rgb(95, 0, 147);
}

.headerS {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 40px;
  box-shadow: 
    5px 5px 0 white,
    20px 20px 0 rgb(95, 0, 147);
  border: 2px solid rgb(202, 172, 208);
}

.headerEx {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  color: #ffffff;
}
.headerS > h1 {
  color: rgb(202, 172, 208);
  font-size: 35px;
}
.navbar {
  background-color: rgb(166, 255, 255);
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.navbarS {
  background-color: rgb(237, 183, 255);
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.navbarEx {
  background-color: antiquewhite;
  display: flex;
  padding: 10px;
}

.navbarEx > .exVideoLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.navbarEx > .informationLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

label {
  margin-top: 20px;
}
.videos {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.videoWrapper {
  background-color: rgb(72, 215, 251);
  display: flex;
  width: 400px;
  padding-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoWrapperS {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(202, 172, 208);
  display: flex;
  width: 400px;
  padding-top: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 20px;
  color: #ffffff;
} 
.titleS {
  font-size: 20px;
  color: rgb(95, 0, 147)
}
.playerWrapper {
  background-color: rgb(95, 0, 147);
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 230px;
}
.imageWrapper {
  width: 100%;
}
.videoImage {
  width: 100%;
  height: 230px;
}
.videoImage > img{
  width: 100%;
}
.howToImage > img{
  width: 300px;
}
.howToImageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}
.startButton {
  position: absolute;
  background-color: rgb(72, 215, 251);
  color: rgb(255, 255, 255);
  height: 35px;
  width: 69px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
}
.startButtonD {
  font-size: 16px;
  position: absolute;
  background-color: rgb(72, 215, 251);
  color: rgb(255, 255, 255);
  height: 35px;
  width: 69px;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
}

.downloadButton {
  position: absolute;
  background-color: rgb(95, 0, 147);
  color: rgb(255, 255, 255);
  height: 35px;
  width: 69px;
  top: 10px;
  right: 10px;
  z-index: 5;
  border-radius: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.pageNo {
  margin: 0 20px;
}
/* aboutPayment */
.aboutPaymentInfo {
  border: 4px solid black;
  padding: 30px;
  width: 400px;
}
.ExVideos300YenPlan {
  background-color: aquamarine;
  border: 5px solid black;
  border-radius: 30px;
  padding: 10px;
}
.vipCardImageWrapper {
  width: 100%;
}
.vipCardImage {
  width: 100%;
  border-radius: 9px;
}
/* ExVideoSono1 */
.link {
  font-size: 20px;
}
.ExVideosSono1TopPageContainer {
  background-color: rgb(249, 253, 154);
  border-radius: 20px;
  padding: 20px;
  margin: 30px 0;
  border: 2px solid rgb(0, 0, 0);
}
.sono1ImageContainer {
  display: grid;
  place-items: center;
}
.sono1ImageContainer img {
  border: 5px solid rgb(240, 178, 240);
}
/* Contact Form */
.contactForm {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}
.contactFormMessage {
  margin: 40px 0;
}
/* Footer */
footer {
  background-color: rgb(72, 215, 251);
  color: #ffffff;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerS {
  background-color: rgb(255, 255, 255);
  color: rgb(202, 172, 208);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(202, 172, 208);
}
.footerEx {
  background-color: black;
  color: #ffffff;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  h1 {
    font-size: 26px;
  }
  .headerS > h1 {
    font-size: 28px;
  }
}

@media (max-width: 425px) and (min-width: 375px) {
  .videoWrapper {
    width: 360px
  }
  .videoWrapperS {
    width: 360px
  }
  .videoImage {
    height: 200px;
  }
  .videoImage > img {
    height: 200px
  }
  .playerWrapper {
    height: 200px;
  }
}

@media (max-width: 374px) and (min-width: 320px) {
  .videoWrapper {
    width: 315px
  }
  .videoWrapperS {
    width: 315px
  }
  .videoImage {
    height: 177px;
  }
  .videoImage > img {
    height: 177px
  }
  .playerWrapper {
    height: 177px;
  }
}
